h1 {
    font-size: 70px;
    font-weight: bold ;
    color:ghostwhite;
}

h2 {
    font-weight: bold;
    color: rgb(46, 46, 56);
}



body {
    background-color: lightgray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(143, 111, 175);
}

section {
    background-color: slategrey;
    text-align: center;
}

h3 {
    color: rgb(66, 78, 90)
}